html {
  font-size: var(--font-size-base);
  // scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-body);
  color: var(--color-text);
  background-color: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color var(--transition-speed) ease;

  &:hover {
    color: var(--color-primary);
    text-decoration: underline;
  }
}

.container {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: space-between;
}
