@forward "./styles/abstracts/variables";
@forward "./styles/abstracts/mixins";
@forward "./styles/base/reset";
@forward "./styles/base/base";
@forward "./styles/base/typography";

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.st-container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.st-container--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.brn {
  border: none !important;
}

.bsha {
  box-shadow: 0px 0px 16px -2px rgba(219, 219, 219, 0.7);
}

.b-t-blue {
  border-top: 0.4rem solid #014993;

  @media (max-width: 600px) {
    border-top: none;
    border-bottom: 0.1rem solid #eee;
  }
}

.btn {
  background: #014993;
  text-decoration: none !important;
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  color: #fff !important;
  border: 0.1rem solid #014993;
  cursor: pointer;
  font-size: 1.1rem;
  margin-bottom: 2rem;
  min-width: 15rem;
  transition: 0.3s all ease-in;

  &:hover,
  &:active {
    background: white;
    border: 0.1rem solid #014993;
    color: #014993 !important;
  }

  @media (max-width: 600px) {
    width: 100%;
  }
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;

  a:link,
  a:visited {
    margin-right: 1rem;

    @media (max-width: 600px) {
      margin: 0 1rem 1rem 0;
    }
  }
}

.reverse {
  background: white;
  border: 0.1rem solid #014993;
  color: #014993 !important;

  &:hover,
  &:active {
    background: #014993 !important;
    border: 0.1rem solid #014993 !important;
    color: #fff !important;
  }
}

.btn-small {
  min-width: fit-content;
  width: fit-content !important;
  margin-top: 1rem;

  @media (max-width: 600px) {
    text-align: center;
    min-width: 100%;
  }
}

.small {
  font-size: 0.8rem;

  a:link,
  a:visited {
    font-size: 0.8rem;
  }
}

h2 {
  font-size: 1.5rem;
}

li {
  list-style: none;
}

p {
  color: #333;
  font-weight: 300;
  line-height: 1.6;
}

.ma-bo1 {
  margin-bottom: 1rem;
}

.ma-boto2 {
  margin: 2rem 0;
}
