:root {
  --color-primary: #014993;
  --color-primary-blue: #014993;
  --color-light: #fff;
  --color-text: #333;
  --color-text-dark: #3a3a3a;
  --font-body: sans-serif;
  --font-heading: "Exo", sans-serif;
  --font-display: "Exo", sans-serif;
}
